transformers==4.38.1
datasets==2.1.0
torch==2.1.2
torchvision==0.16.2
numpy==1.24.4
matplotlib==3.4.3
Pillow==9.5.0
requests==2.31.0
accelerate==0.27.2
peft==0.10.0
timm==0.9.16
flask==2.2.5
flasgger==0.9.5
scikit-learn==1.2.2